<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->
    </header>

    <main class="min-vh-100">
      <h1>Selamat Datang di Story App</h1>
      <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolores veritatis laudantium
        magnam impedit autem quo nostrum, distinctio obcaecati necessitatibus perspiciatis vel
        sapiente tenetur modi veniam aut, inventore suscipit earum.<i
          class="bi bi-cash-coin ms-2"
        ></i>
      </h2>

      <button class="btn btn-primary">Memulai<i class="bi bi-caret-right ms-2"></i></button>
    </main>

    <footer>
      <!-- Your footer -->
    </footer>
  </body>
</html>
